<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout :: head('Delete Category')}">
</head>

<body class="index-page">

<header th:replace="~{layout :: navbar}">
</header>

<main class="main">
    <section id="services" class="services section">

        <div class="container section-title" data-aos="fade-up">
            <h2>Category</h2>
            <p><a th:href="@{/categories}"> Categories</a> >  <a th:href="@{/categories/delete/{id} (id=${category.id})}">Delete</a></p>
        </div>

        <div class="container">

            <div class="row g-5">
                <div class="service-item item-pink position-relative">
                    <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">

                        <form method="post" th:action="@{/categories/delete}">
                            <input type="hidden" th:field="${category.id}">
                            <p> Kamu yakin untuk menghapus <span th:text="${category.name}"> </span>  ?</p>
                            <button type="submit" class="btn btn-outline-primary">Delete</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>



    </section>


</main>

<footer th:replace="~{layout :: footer}">
</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Preloader -->
<div id="preloader"></div>

</body>

</html>