<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout :: head('Category Upsert')}">
</head>

<body class="index-page">

<header th:replace="~{layout :: navbar}">
</header>

<main class="main">

    <section id="services" class="services section">

        <div class="container section-title" data-aos="fade-up">
            <h2>Category</h2>
            <p><a th:href="@{/categories}"> Categories</a> >  <a th:href="@{/categories/insert}">Upsert</a></p>
        </div>

        <div class="container d-flex justify-content-center">
            <div class="row col-lg-5 justify-content-center">
                <div class="service-item item-pink position-relative">
                    <div class="col-lg-12 justify-content-center" data-aos="fade-up" data-aos-delay="600">

                        <div>
                            <form class="row g-3 needs-validation" th:action="@{/categories/upsert}" method="post"
                                  th:object="${dto}">
                                <div th:if="${#fields.hasErrors()}"
                                     class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <ul>
                                        <li th:each="err : ${#fields.errors()}" th:text="${err}"/>
                                    </ul>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                                <input type="hidden" name="id" th:value="*{id}">
                                <div class="col-12">
                                    <label for="name" class="form-label">Name Category</label>
                                    <input type="text" name="name" class="form-control" id="name"
                                               th:field="*{name}">
                                </div>

                                <div class="col-12">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="form-control" style="height: 100px" name="description" id="description" th:text="*{description}"></textarea>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Save New Admin</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        </div>

    </section>

</main>

<footer th:replace="~{layout :: footer}">
</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Preloader -->
<div id="preloader"></div>

</body>

</html>