<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title th:text="'Troll Market - '+ ${title}"></title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resources/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/resources/css/style2.css}" rel="stylesheet">

    <!-- Vendor JS Files -->
    <script th:src="@{/resources/vendor/bootstrap/js/bootstrap.bundle.min.js}" defer></script>

    <!-- Template Main JS File -->
    <script th:src="@{/resources/js/main1.js}" defer></script>

    <!-- Auth Rest API    -->
    <script th:src="@{/resources/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/resources/js/auth.js}" defer></script>

</head>

<body></body>

</html>