<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{layout :: head('Shop')}">
</head>

<body class="index-page">

<header th:replace="~{layout :: navbar}">
</header>

<main class="main">
  <section id="services" class="services section">

    <div class="container section-title" data-aos="fade-up">
      <h2>Shop</h2>
    </div>

    <div class="container">

      <div class="row g-5">
        <div class="service-item item-pink position-relative">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600">

            <div class=" alert alert-success alert-dismissible fade show success-alert"
                 role="alert">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="wrapper-search">
              <form method="get" action="" class="row row-cols-lg-auto g-3 align-items-center">
                <div class="row mb-3">
                  <label for="nameProduct" class="col-sm-5 col-form-label">Name Product</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nameProduct" name="nameProduct" th:value="${dto.nameProduct}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label">Category</label>
                  <div class="col-sm-10">
                    <select class="form-select" name="categoryId"  aria-label="Default select example">
                      <option th:value="null" >Open this select menu</option>
                      <option th:each="dropdown :${categoryDropdown}"
                              th:text="${dropdown.text}"
                              th:value="${dropdown.value}"
                              th:selected="(${dto.categoryId} == ${dropdown.value})"
                      ></option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="description" class="col-sm-4 col-form-label">Description</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" name="description" th:value="${dto.description}">
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </form>
            </div>
            <div class="wrapper-table">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col">Action</th>
                  <th scope="col">Name Product</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                  <th scope="row">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <button type="button" class="btn btn-outline-primary addCart" th:data-id="${product.id}" th:data-buyerId="${buyerId}" >
                        <a>Add to Cart</a>
                      </button>
                      <button  class="btn btn-outline-primary btnInfoInShop"  th:data-id="${product.id}">
                        Detail Info
                      </button>
                    </div>

                  </th>
                  <td th:text="${product.product}"></td>
                  <td th:text="${product.category}"></td>
                  <td >Rp. <span th:text="${#numbers.formatDecimal(product.price,0,'POINT',2,'POINT')}"></span></td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>


  <!--ADD TO CART-->
    <div class="modal fade" id="addToCart" data-bs-backdrop="false" tabindex="-1" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title">Add To Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form>
            <div class="modal-body">
              <div class="alert alert-danger alert-dismissible fade show alert-gagal"
                   role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <input type="hidden" class="form-control" id="idProduct">
              <input type="hidden" class="buyerId">
              <div class="row mb-3">
                <label for="quantity" class="col-sm-2 col-form-label">Quantity</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="quantity">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Shipment</label>
                <div class="col-sm-10">
                  <select id="shipmentDropdown" class="form-select" aria-label="Default select example">

                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="submit btn btn-primary submitCart">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--        Modal info-->
    <div class="modal fade" id="infoProductInShop" tabindex="-1" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Info Product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body infoProduct">
            <table class="table table-borderless">
              <tbody class="dataProduct">

              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </section>

  </section>


</main>

<footer th:replace="~{layout :: footer}">
</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Preloader -->
<div id="preloader"></div>

</body>

</html>